<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen Inventory App | SchuLutions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h1>Food Service Inventory and Ordering</h1>
  		<p>Login:
  			Username <input type="text" /><br />
  			Password <input type="password">	
  		</p>	
  	</header>
  	
    <%= yield %>
  </body>
</html>
